.admin-layout{
    width: 100%;
    display: grid;
    grid: 55 px / 1fr;
    grid-template-areas: 
        "menu",
        "content"
    ;
    min-height: 10vh;
    &__menu{
        grid-area: menu;
    }
    &__main-content{
        grid-area: content;
    }
}